server:
  port: 24110
  error:
    include-message: always

spring:
  application:
    name: publisher-service
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
      
logging:
  level:
    org.springframework: INFO
    org.hibernate: INFO