version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: distcomp
    ports:
      - "5432:5432"
      
  api:
    build:
      context: .
      dockerfile: Presentation/Dockerfile
    ports:
      - "24110:8080"
    depends_on:
      - db

volumes:
  postgres_data: