services:
  postgres:
    image: postgres:15
    container_name: postgres-rest-jpa
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: distcomp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  cassandra:
    image: cassandra:5.0
    container_name: cassandra-discussion
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_CLUSTER_NAME: "NewsCluster"
      CASSANDRA_DC: "datacenter1"
      CASSANDRA_ENDPOINT_SNITCH: "GossipingPropertyFileSnitch"
    volumes:
      - cassandra_data:/var/lib/cassandra
      - ./init.cql:/docker-entrypoint-initdb.d/init.cql
    healthcheck:
      test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  postgres_data:
  cassandra_data:
