server:
  port: 24110

spring:
  application:
    name: jpa-app
  datasource:
    url: jdbc:postgresql://localhost:5432/distcomp
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  redis:
    host: localhost
    port: 6379
    timeout: 2000ms
  cache:
    type: redis
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  cloud:
    stream:
      bindings:
        to-discussion-out-0:
          destination: InTopic
          content-type: application/json
        moderateNotice-in-0:
          destination: OutTopic
          group: publisher-group
      kafka:
        binder:
          brokers: localhost:9092