.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
**/.mypy_cache/
.ruff_cache/
**/.ruff_cache/
.coverage
htmlcov/
**/htmlcov/
*.log
*.sqlite
*.sqlite3
*.db
.env
.idea/
.vscode/
